<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta
            charset="UTF-8"
            http-equiv="Content-Type" content="text/html" />
    <title>SweatHouse - Add Exercise</title>
</head>

<body>
<div>
    <h1>SweatHouse - Add Exercise</h1>
</div>
<div>
    <form action="#" method="post" th:action="@{saveNewExercise}" th:object="newExercise">
        <table>
            <tr>
                <td><label>Exercise Name</label></td>
                <td><input type="text" name="nameField"/></td>
            </tr>
            <tr>
                <td><label>Exercise Source</label></td>
                <td><input type="text" name="sourceField"/></td>
            </tr>

            <tr th:each="i: ${#numbers.sequence(1, 5)}">
                <td><label th:text="'Step ' + ${i}"></label></td>
                <td><input type="text" th:name="'step' + ${i}"/></td>
            </tr>
            <!--                We do tags exactly like in mendeley-->
            <tr>
                <td><label>Tags</label></td>
                <td><input type="text" name="tags"/></td>

            </tr>
            <tr>
                <td><label>Exercise Remarks</label></td>
                <td><input type="text" name="remarksField"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit exercise"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>