<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta
            charset="UTF-8"
            http-equiv="Content-Type" content="text/html" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <title>SweatHouse - Your profile</title>
</head>

<body>
<div>
    <h1 th:text="'Hello ' + ${loggedUser.getUsername()} + '!'"></h1>
</div>

<div>
    <a href="/home" class="btn btn-primary">Home</a>
    <a href="/logout" class="btn btn-primary">Log out</a>
</div>

<h2>Favourites</h2>

<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Source</th>
            <th>Steps</th>
            <th>Remarks</th>
            <th>Tags</th>
        </tr>
        <tr th:each="exercise : ${loggedUserExercises}">
            <td th:text="${exercise.getName()}"></td>
            <td th:text="${exercise.getSource()}"></td>
            <td>
                <ul>
                    <li th:each="step : ${exercise.getSteps()}" th:text="${step.getStep()}"></li>
                </ul>
            </td>
            <td th:text="${exercise.getRemarks()}"></td>
            <td>
                <ul>
                    <li th:each="tag : ${exercise.getTags()}" th:text="${tag.getName()}"></li>
                </ul>
            </td>
        </tr>

    </table>
</div>
</body>
</html>